* {
  box-sizing: border-box;
  font-family: "Livvic", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #004047 !important;
  height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}
